<p>list-animals works!</p>
<div class="container">
    <h2>Animals</h2>

    <div>
        <input type="text" placeholder="search by name" [(ngModel)]="name">
        <button class="" type="button" (click)="searchName()">
            Search
        </button>
    </div>

    <button [routerLink]="['/createAnimal']">Them Animals</button>
    <table class="table table-striped">
        <tr>
            <td>Image</td>
            <td>Name</td>
            <td>Active</td>
            <td>Bread</td>
            <td></td>
            <td></td>

        </tr>
        <tr *ngFor="let animal of animals">
            <td><img width="200px" src="{{animal.image}}"></td>
            <td>{{animal.name}}</td>
            <td>{{animal.active}}</td>
            <td>{{animal.bread}}</td>
            <td><button (click)="deleteAnimal(animal.id)" class="text-danger">Delete</button></td>
            <td>
                <button (click)="selectUpdate(animal.id)">Edit</button>
            </td>
        </tr>
    </table>
</div>