<h2 class="text-center">Create Animals</h2>
<br>
<form class="container" [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

    <div class="form-outline mb-4">
        <input type="text" id="form6Example1" formControlName="name" class="form-control" name="name" [(ngModel)]="animal.name">
        <label class="form-label" for="form6Example1">Name</label>
        <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is required</div>
    </div>


    <div class="form-outline mb-4">
        <input type="text" id="form6Example3" formControlName="active" class="form-control" name="active" [(ngModel)]="animal.active" />
        <label class="form-label" for="form6Example3">Active</label>
    </div>


    <div class="form-outline mb-4">
        <input type="text" id="form6Example4" formControlName="bread" class="form-control" name="bread" [(ngModel)]="animal.bread" />
        <label class="form-label" for="form6Example4">Bread</label>
    </div>

    <div class="form-outline mb-4">
        <input type="file" id="form6Example5" #fileUpload formControlName="image" class="form-control" name="image" [(ngModel)]="animal.image" (change)="upload($event)" accept="*.png.jpg" />
        <label class="form-label" for="form6Example5">Image</label>
        <div class="text-danger" *ngIf="isSubmitted && formControls.image.errors?.required">This field is required</div>
    </div>
    <div>
        <img [src]="imgSrc" width="200px" (click)="fileUpload.click()">
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Thêm</button>
</form>